<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="title_logo.png">
</head>
<body>

<div class="container">
<h2>Database Results</h2>



<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.product_id %> - <%= r.temprature %> - <%= r.humidity %> - <%= r.ph %> - <%= r.co_leve %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
